@tailwind base;
@tailwind components;
@tailwind utilities;


.loader-spinner {
    border: 3px solid #f3f3f3;
    border-top: 5px solid #1794b0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
    
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }